          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">What is Olympics?</h1>
                <p style = "align:justify">  The modern Olympic Games or Olympics (French: Jeux olympiques) are leading international sporting events featuring summer and winter sports competitions in which thousands of athletes from around the world participate in a variety of competitions. The Olympic Games are considered the world's foremost sports competition with more than 200 nations participating.The Olympic Games are held every four years, with the Summer and Winter Games alternating by occurring every four years but two years apart.
                </p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Get Informed!</h1>
              <p>If you want to keep up with what's going on, <a href="https://www.olympic.org">check out the official websites</a>, <a href="http://www.twitter.com/yiweiguo0301">follow us on twitter</a>. If you're in FaceBook, you can also <a href="https://www.facebook.com/guo.y.wei.3">like us on our newest feed</a>.</p>
            </article><!-- article -->

            <article class="article">
              <h1 class="article-title">Who should come?</h1>
              <ul>
                <li>Anybody who are interested in Olympics and share the spirit of it</li>
                <li>Anyone who wants to be socializing with people who share the same interest</li>
                <li>Athletes, Students, Data-People... You are welcomed as long as you are cool!</li>
              </ul>
            </article><!-- article -->

          </div>