<html>
  <head> <% include partials/template/head.ejs %> </head>
  <body id = "<%= pageID %>">
    <% include partials/template/header.ejs %>
    <%include partials/template/jsdefault.ejs %>
    <p> Which country has the most gold medalist in the history?</p>
  <button onclick="my_query1()">Find out!</button>
  <div id="containerOne" style ="width: 100%; height:500px;"></div>
  <script>
  var mapOne = new Datamap({element: document.getElementById('containerOne'),
        fills: {
              HIGH: '#afafaf',
              LOW: '#123456',
              MEDIUM: 'blue',
              UNKNOWN: 'rgb(0,0,0)',
              defaultFill: 'green'
          }
       });
  </script>
  <p> Rank the number of medalist of each country in a certain sport?</p>
  <button onclick="my_query3()">Find out!</button>
  <div id="containerTwo" style ="width: 100%; height:500px;"></div>
  <script>
  var mapTwo = new Datamap({element: document.getElementById('containerTwo'),
        fills: {
              HIGH: '#afafaf',
              LOW: '#123456',
              MEDIUM: 'blue',
              UNKNOWN: 'rgb(0,0,0)',
              defaultFill: 'green'
          }
       });
  </script>
  <script> //src = "/routes/search.js" type = "text/javascript">
    function my_query1(){
        <% for(var i = 0; i < Country.length; i++){ %>
         mapOne.updateChoropleth({
           <%= Country[i] %>:{fillKey: 'MEDIUM'}
         });
       <% } %>
     }
  </script>
  <script> //src = "/routes/search.js" type = "text/javascript">
    function my_query3(){
        <% for(var i = 0; i < CountryThree.length; i++){ %>
         mapTwo.updateChoropleth({
           <%= CountryThree[i] %>:{fillKey: 'High'}
         });
       <% } %>
     }
  </script>
  </body>
</html>