<html>
  <head> <% include partials/template/head.ejs %> </head>
  <body id = "<%= pageID %>">
    <% include partials/template/header.ejs %>
    <%include partials/template/jsdefault.ejs %>
    <%= Country[15] %>
  <div id="container" style="width: 1500px; height: 1500px;"></div>
  <!-- <button onclick="my_query1()">Query1!</button> -->
  <script> //src = "/routes/search.js" type = "text/javascript">
        var map = new Datamap({element: document.getElementById('container'),
       fills: {
              HIGH: '#afafaf',
              LOW: '#123456',
              MEDIUM: 'blue',
              UNKNOWN: 'rgb(0,0,0)',
              defaultFill: 'green'
          }
       
            
        });
        <% for(var i = 0; i < Country.length; i++){ %>
         map.updateChoropleth({
           <%= Country[i] %>:{fillKey: 'MEDIUM'}
         });
       <% } %>
  </script>
  </body>
</html>